<!-- Default Statcounter code for Personal Website https://najclark.github.io/
-->
<script type="text/javascript">
var sc_project=12340306;
var sc_invisible=1;
var sc_security="aead27ce"; 
var sc_https=1;
var sc_remove_link=1;
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><img class="statcounter"
src="https://c.statcounter.com/12340306/0/aead27ce/1/" alt="Web Analytics Made
Easy - StatCounter"></div></noscript>
<!-- End of Statcounter Code -->
