<div id="track">
  {% for slide in site.data.navbar %}
    {% if slide.link == false %}
      {% if forloop.first %}
        <div id="{{ slide.file }}" class="slide active-slide"> {% include {{ slide.file }} %} </div>
      {% else %}
        <div id="{{ slide.file }}" class="slide"> {% include {{ slide.file }} %} </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>

<div class="navbar">
  {% for slide in site.data.navbar %}
    {% if slide.link %}
      <button id="{{ slide.name }}-btn" class="nav-item" onclick="window.open('https://drive.google.com/file/d/1ViQSammYoddoYGyRgqM3nF2fR6w3HdvV/view?usp=sharing','_blank','resizable=yes')">
    {% elsif forloop.first %}
      <button id="{{ slide.file }}-btn" class="nav-item active-btn" onclick="slideTo('{{ slide.file }}')">
    {% else %}
      <button id="{{ slide.file }}-btn" class="nav-item" onclick="slideTo('{{ slide.file }}')">
    {% endif %}
      {{ slide.name }}
    </button>
  {% endfor %}
</div>

<script type="text/javascript">
  function slideTo(newPageId) {
    let oldSlide = document.getElementsByClassName("active-slide")[0];
    oldSlide.classList.remove("active-slide");

    let newPage = document.getElementById(newPageId);
    // newPage.scrollIntoView({behavior: 'smooth'});
    newPage.scrollIntoView();
    newPage.classList.add("active-slide");

    let oldBtn = document.getElementsByClassName("active-btn")[0];
    oldBtn.classList.remove("active-btn");

    let newBtn = document.getElementById(newPageId.concat("-btn"));
    newBtn.classList.add("active-btn");
  }
</script>
