<div class="center-children">

    {% for item in site.data.projects %}
      {% if forloop.first %}
      <div id="{{ item.name }}" class="card active-project">
      {% else %}
      <div id="{{ item.name }}" class="card hidden-project">
      {% endif %}

        <div class="header">
          {% if item.images_dir.size > 0 %}
            <div id="carousel">
              <button class="prev" onclick="slide('{{ item.images_dir }}-carousel', -1)">&lt;</button>
              <ul id="{{ item.images_dir }}-carousel" showing=0>
                {% for image in site.static_files %}
                  {% if image.path contains item.images_dir %}
                    <li>
                      <img class="header-img" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
              <button class="next" onclick="slide('{{ item.images_dir }}-carousel', +1)">&gt;</button>
            </div>
          {% endif %}

          <a href="{{ item.href }}" target="_blank">
            <h1>{{ item.name }}</h1>
          </a>
          <!-- <h2>{{ item.date }}</h2> -->
        </div>

        <div class="details">
          <h3>Overview</h3>
          <p>{{ item.overview }}</p>
          <h3>Background</h3>
          <p>{{ item.background }}</p>
          <h3>Learning Outcome</h3>
          <p>{{ item.learning }}</p>
        </div>
      </div>

    {% endfor %}
</div>

<pre class="tree">
  projects/
  {% for item in site.data.projects %}
    ├─ <button onclick="changeProject('{{ item.name }}')">{{ item.name }}</button>
  {% endfor %}
</pre>

<script type="text/javascript">
  function changeProject(name) {
    // should only be one element with class 'active-project'
    oldProject = document.getElementsByClassName("active-project")[0];
    oldProject.classList.remove("active-project");
    oldProject.classList.add("hidden-project");

    newProject = document.getElementById(name);
    newProject.classList.remove("hidden-project");
    newProject.classList.add("active-project");

  }

  function slide(carouselId, delta) {
    var carousel = document.getElementById(carouselId);
    var slides = carousel.querySelectorAll('li');
    let newShowing = parseInt(carousel.getAttribute("showing")) + delta;
    newShowing = Math.min(Math.max(newShowing,0), slides.length-1);
    slides[newShowing].scrollIntoView({behavior: 'smooth'});
  }
</script>
