<!doctype html>
<html>
    <head>
    <title>{{ site.title }}</title>
    <style>{% include style.css %}</style>
        {% include head.html %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
    </head>
    <body onresize="handleResize()" onload="initBackground()">
      {% include navbar.html %}

      <script src="/resize.js"></script>
      <script src="/background.js"></script>
      <canvas class="background"></canvas>

    </body>
</html>
