<!doctype html>
<html>
    <head>
    <title>{{ site.title }}</title>
    <style>{% include style.css %}</style>
        {% include head.html %}
    </head>
    <body>
      {% include navbar.html %}

      <video id="background"
      	loop
      	muted
      	autoplay
      	preload="auto"
      	poster="media/poster.png">
      <source src="media/clouds.mp4" type="video/mp4">
      </video>
      <script type="text/javascript">
        var vid = document.getElementById("background");
        vid.playbackRate = 0.1;
      </script>
    </body>
</html>
